.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1000px;
  height: 1000px;
  border-radius: 100%;

  position: absolute;
  right: -300px;
  top: -90px;

  background-color: $main-color;
  overflow: visible;
}
