.create-post {
  border: 1px solid $second-color;
  border-right: none;
  border-left: none;
  border-radius: 10px;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  &__text {
    margin-bottom: 10px;
    font-size: 17px;
  }
  &__input {
    width: 50vw;
    display: inline-block;
    height: 130px !important;
    padding: 15px;

    background-color: white;
    border-radius: 10px;
    border: 1px solid $second-color;
    resize: none;
  }

  &__button {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 0;
    margin: 20px 0px 20px 0px;
  }
}
