.global-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 750px;
  width: 580px;

  margin-right: 300px;

  animation: formLoad 1.5s forwards;
  background-color: white;

  -webkit-box-shadow: -3px 5px 10px 3px rgba(0, 0, 0, 0.41);
  box-shadow: -3px 5px 10px 3px rgba(0, 0, 0, 0.41);
  & h1 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 60px;
    &::after {
      margin-top: 7px;
      content: "";
      display: block;
      position: relative;
      background-color: $main-color;
      animation: formLoadHDecoration 1s forwards;
      height: 4px;
      border-radius: 10px;
    }
  }
}
