.post {
  margin-top: 50px;
  border: 1px solid $second-color;
  border-right: none;
  border-left: none;
  border-radius: 5px;
  border-collapse: collapse;
  &__header {
    display: flex;
    align-items: center;
    &__img {
      background-color: black;
      width: 40px;
      height: 40px;
      margin: 15px;
      border-radius: 100%;
    }

    &__utils {
      margin-left: auto;
      margin-right: 15px;

      & svg {
        font-size: 25px;
      }
    }

    & span {
      font-size: 14px;
      color: $second-color;
    }
  }

  &__content {
    margin: 50px;
    margin-top: 0px;
  }
}

.imgtt {
  width: 20%;
  height: auto;
}
.im {
  width: 70%;
  height: auto;
}

.imc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arbre {
  display: flex;
}
.imgtt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imr {
  width: 100px;
  height: 100px;
}
